:root {
  --main-bg-color: #F5F7F3;
  --line-color: #D6DFCE;
  --text-color: #283120;
}

body {
  font-family: 'Major Mono Display', monospace;
  background: var(--main-bg-color);
  color: var(--text-color);
}

h1 {
  text-align: center;
}

#gameboard {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 400px;
  height: 400px;
  text-align: center;
  column-gap: 5px;
  row-gap: 5px;
  background: var(--line-color);
}

.gamepiece {
  background: var(--main-bg-color);
  font-size: 80px;
}

.x:after {
  content: "x";
}

.o:after {
  content: "o";
}